* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fcfaf2;
    background-image: url("./imagens/paper-vintage.png");
    background-repeat: repeat;
    background-size: 420px;
    color: #2d3436;
    opacity: 0;
    transform: translateY(12px);
    animation: pageEnter 1s ease-out forwards;
  }
  
  @keyframes pageEnter {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }