* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --swift-dark-bg: #0f1020;
  --swift-purple: #b39cff;
  --swift-text: #cfcbe9;
  --paper-img: url("./imagens/paper-vintage.png");
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fcfaf2;
  background-image: var(--paper-img);
  background-repeat: repeat;
  background-size: 420px;
  color: #2d3436;
  
  /* Animação de entrada */
  opacity: 0;
  transform: translateY(12px);
  animation: pageEnter 1s ease-out forwards;
  transition: background-color 0.4s ease, color 0.4s ease;
}

@keyframes pageEnter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. CLASSES DE REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(24px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}